<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ThoughtCreator</servlet-name>
		<servlet-class>com.aneeshpu.gae.web.ThoughtCreatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThoughtCreator</servlet-name>
		<url-pattern>/thoughtCreator</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ThoughtReader</servlet-name>
		<servlet-class>com.aneeshpu.gae.web.ThoughtReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThoughtReader</servlet-name>
		<url-pattern>/thoughtReader</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>thoughtDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>  
	
	<servlet-mapping>
		<servlet-name>thoughtDispatcher</servlet-name>
		<url-pattern>/thought/*</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
